* {
  box-sizing: border-box;
}

.contact-form-container {
  max-width: 760px;
  margin: 0 auto;
}

form {
  padding: 2em;
  background: white;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

#message {
  padding-bottom: 200px;
}

/*

button {
  background: rgb(11, 91, 133);
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}

*/

label {
  display: block;
  margin-top: 1.5rem;
}

.field-error {
  display: none;
  color: red;
  font-size: 1rem;
  margin-top: 5px;
}

#formError {
  z-index: 10000000;
}

#formError {
  margin-top: 70px;
  text-align: center;
  color: #0b3a40;
  font-size: 1.2em;
  text-transform: uppercase;
}

#contactForm button {
  margin-top: 2rem;
}
