/* CONTACT PAGE */

/*
.contact-us,
.contact-header {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
}
*/

.icon-img {
  width: 200px;
  height: 200px;
}

.main-content ul {
  margin-right: 15px;
  display: inline-block;
  align-items: center;
}

.contact-us > a {
  text-decoration: none;
  color: #fff;
}

.contact-form-container {
  display: block;
}

.follow-us,
.payment-options {
  /* margin-bottom: 15px;
  margin-right: 15px; */
  display: flex;
  flex-direction: row;
  font-size: 3em;
}

.follow-us > i {
  margin-right: 20px;
}

.follow-us:hover {
  cursor: pointer;
}
