/* FOOTER SECTION */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #0b3a40;
  color: whitesmoke;
  font-size: 0.8em;
  align-items: center;
}

.footer > div {
  margin: 15px;
}

@media (max-width: 992px) {
  .footer {
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .order-options {
    align-self: flex-start;
    margin-right: 0;
  }
  .delivery-icon {
    margin-right: 0;
  }
  .order-options > p {
    display: none;
  }
}
