/* MAIN CONTENT SECTION */

.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 0 none;
}

.background-image {
  width: 100%;
}

.main-content-home {
  background-color: #0b3a40;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 0 none;
}

/* MAIN CONTENT SECTION SHOP*/

.main-content-shop {
  border-color: #fff;
  width: 100%;
  height: 100%;
  border: 0 none;
  margin: auto;
  display: flex;
  position: relative;
}

.main-page {
  margin: 50px auto 0;
  max-width: 1800px;
}

main h1 {
  text-transform: uppercase;
  font-size: 1.3em;
  color: #6b7f7e;
  margin-left: 30px;
  font-weight: 100;
}

.main-content-shop img {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 20px;
}

.pushing-the-comfort-zone {
  max-width: 40%;
  padding: 0 20px;
}

.pushing-the-comfort-zone h2 {
  color: #6b7f7e;
  font-size: 2.5em;
}

.pushing-the-comfort-zone p {
  color: #6b7f7e;
  margin-bottom: 10px;
}

/* MAIN SECTION PRODUCT SPECIFIC PAGE*/

.main-content-product {
  border-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 0 none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1800px;
  margin: auto;
  gap: 100px;
}

.main-content-product img {
  width: 100%;
  border-radius: 25px;
}

.main-content-product h2 {
  font-family: "Montseratt-Medium", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  color: #6b7f7e;
}

@media (max-width: 992px) {
  .main-content-shop {
    flex-direction: column-reverse;
  }
  .pushing-the-comfort-zone {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
