/* MAIN CONTENT SECTION */

.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 0 none;
}

.details-page {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.background-image {
  width: 100%;
}

.main-content-home {
  background-color: #0b3a40;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 0 none;
}

.deals-title h1 {
  color: white;
  text-align: center;
  font-family: "Montseratt-Medium", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  background-color: #0b3a40;
  margin-left: 0px;
  padding: 1.5rem;
  margin-top: 0px;
}

.best-deals {
  display: flex;
}

/* MAIN CONTENT SECTION SHOP*/

.main-content-shop {
  border-color: #fff;
  width: 100%;
  height: 100%;
  border: 0 none;
  margin: auto;
  display: flex;
  position: relative;
  /* text-align: left; */
}

.main-content-shop-index {
  border-color: #fff;
  width: 100%;
  height: 100%;
  border: 0 none;
  margin: auto;
  position: relative;
}

.main-page {
  margin: 50px auto 0;
  max-width: 1800px;
  text-align: -webkit-center;
}

.main-pages {
  margin: 50px auto 0;
  max-width: 1800px;
  text-align: left;
}

main h1 {
  text-transform: uppercase;
  font-size: 1.3em;
  color: #6b7f7e;
  margin-left: 30px;
  font-weight: 100;
}

/* MAIN SECTION PRODUCT SPECIFIC PAGE*/

.main-content-shop img {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 20px;
}

.main-content-product {
  border-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 0 none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1800px;
  margin: auto;
  gap: 100px;
}

.main-content-product img {
  width: 100%;
  border-radius: 25px;
}

.main-content-product h2 {
  font-family: "Montseratt-Medium", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  color: #6b7f7e;
}

.price-details {
  text-align: left;
}

/*      ABOUT PAGE       */

.main-content-about {
  text-align: center;
  font-size: 1.1em;
  color: #6b7f7e;
}

.about-us-text {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.main-content-about img {
  max-width: 700px;
  padding-bottom: 1rem;
}

/*    MEDIA QUERY    */

@media (max-width: 800px) {
  .main-content-about img {
    max-width: 430px;
  }
}

@media (max-width: 992px) {
  .main-content-shop {
    flex-direction: column-reverse;
  }
  .best-deals {
    flex-direction: column-reverse;
  }
}
