.check-out-modal {
  display: none;
  position: fixed;
  z-index: 100000;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
}

/* MODAL CONTENT */
.check-out-modal-content {
  position: relative;
  background-color: whitesmoke;
  margin: auto;
  padding: 0;
  border: 1px solid grey;
  width: 80%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  /* animation-name: animatetop; */
  animation-duration: 0.4s;
}

/* ANIMATION */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*CLOSE BUTTON */
.close {
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.check-out-modal-body {
  padding: 100px;
  background-color: white;
  color: black;
  text-align: center;
}
