.products {
  max-width: 54%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.main-content-shop.outlet .products {
  max-width: 60%;
}

.main-content-shop.outlet .pushing-the-comfort-zone {
  max-width: 40%;
}

.main-content-shop.outlet .product-aside {
  max-width: 40%;
}

.product {
  flex: 1 0 27%;
  padding: 20px;
  margin-bottom: 30px;
}

.product-clickable {
  position: relative;
}

.product a {
  display: block;
}

.product-aside {
  position: fixed;
  right: 0;
  display: flex;
  width: 42%;
  background: #fff;
  top: 140px;
  bottom: 100px;
  padding: 100px 20px 20px;
  z-index: 100;
  display: none;
  transition: opacity 0.4s ease;
}

.details-image {
  display: block;
}

.product-info {
  max-width: 40%;
  padding: 10px;
  color: #6b7f7e;
}

.product-info-main-text {
  text-align: left;
  color: #6b7f7e;
}

.product-image {
  max-width: 60%;
}

.product-review {
  padding: 10px;
}

.product-review a {
  color: #f29202;
}

.stars {
  color: #f29202;
}

.stars ul {
  display: flex;
  align-items: center;
}

.stars li:not(:last-of-type) {
  margin-right: 10px;
}

.stars img {
  width: 30px;
}

.sizes {
  color: #f29202;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.sizes p {
  margin: 0;
}

.sizes ul {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sizes li:not(:last-of-type) {
  margin-right: 10px;
}

.product-checkout-button {
  position: relative;
}

.pushing-the-comfort-zone {
  max-width: 36%;
  padding: 0 20px;
}

.pushing-the-comfort-zone h2 {
  color: #6b7f7e;
  font-size: 2.5em;
}

.pushing-the-comfort-zone p {
  color: #6b7f7e;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .products {
    max-width: 100%;
  }
  .product {
    padding: 10px;
  }
  .product-aside {
    position: initial;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 40px);
    padding: 20px;
    height: fit-content;
    box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.15);
  }
  .product-info {
    max-width: 60%;
  }
  .product-image {
    max-width: 40%;
  }
  .pushing-the-comfort-zone {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .main-content-shop.outlet .products {
    max-width: 100%;
  }
  .main-content-shop.outlet .pushing-the-comfort-zone {
    max-width: 100%;
  }
  .main-content-shop.outlet .product-aside {
    max-width: 100%;
  }
  .checkbox-trigger:checked ~ .product-aside {
    display: block;
  }
}

@media (max-width: 576px) {
  .products {
    margin-bottom: 40px;
  }
  .product {
    flex: 1 1 100%;
  }
  .product-aside {
    flex-direction: relative;
    position: initial;
  }
  .product-info,
  .product-image {
    max-width: 100%;
  }
  .details-image {
    display: none;
  }
}
