@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./main.css";
@import "./signup.css";
@import "./product.css";
@import "./contact.css";
@import "./cart.css";
@import "./overlay.css";
@import "./shared-styles.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Montseratt-Medium", Verdana, Geneva, Tahoma, sans-serif;
}
